@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    *{
        box-sizing: border-box;
    }
    body{
        background: linear-gradient(135deg, #9897d9, #5d59ca);
    }
    input, textarea{
        border: 1px solid rgb(172, 172, 172);
        @apply px-2 py-1;
    }

    label {
        @apply font-bold;
    }


    h1 {
        border-bottom: 1px solid rgb(212, 209, 209);
    }
    
    .form-container{
        max-width: 900px;
        @apply w-[90%] p-4 bg-white rounded-lg mx-auto my-4;
    }
    
    .form {
        @apply flex flex-wrap flex-col p-4 items-start gap-4 justify-center;
    }

    .form > *{
        @apply mx-[.5rem];
    }

    div[data-error] input{
        @apply border-[#c92432] text-[#c92432] bg-[#fffafa];
    }

    div[data-error]::after{
        content: attr(data-error); 
        @apply text-[0.85em] text-[#c92432] block mt-1;

    }

    .submit-btn{
        @apply mt-4;
    }

    @media (min-width: 660px) {
        body{
            @apply h-screen;
        }
        .form-container{
            @apply absolute top-[50%] left-[50%] text-[1.1rem];
            transform: translate(-50%, -50%);

        }
        .form{
            @apply flex-row;
        }
        .form > *{
            width: 40%;
        }
    }

    
}